<template>
  <div id="app">
    <AddTodo v-on:add-todo="addtodo" />
    <Todos v-bind:todos="todos" v-on:del-todo="deleteTodo" />
  </div>
</template>

<script>
import axios from "axios";
import Todos from "../components/Todos";
import AddTodo from "../components/AddTodo";

const apiCall = axios.create({
  baseURL: "https://jsonplaceholder.typicode.com/",
  timeout: 20000
});

const displayErrorMsg = () =>
  window.alert(
    "Não foi possível buscar a lista. Por favor recarregue a página."
  );

export default {
  name: "Home",
  components: {
    Todos,
    AddTodo
  },
  data() {
    return {
      todos: []
    };
  },
  methods: {
    async deleteTodo(id) {
      try {
        await apiCall.delete(`/todos/${id}`)
        this.todos = this.todos.filter(todo => todo.id !== id);
      } catch (err) {
        displayErrorMsg()
      }
    },
    async addtodo(newTodo) {
      try {
        const { id } = await apiCall.post('/todos', newTodo);
        this.todos = [...this.todos, { ...newTodo, id }];
      } catch (error) {
        displayErrorMsg();
      }
    }
  },
  async created() {
    try {
      const result = await apiCall.get('/todos?_limit=5');
      this.todos = result.data;
    } catch (error) {
      displayErrorMsg();
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
</style>